<main>
    <div class="cards-container">
        <p-card [style]="{ width: '100%', overflow: 'hidden' }" class="dashboard-card">
            <div class="card-content">
                <i class="pi pi-users card-icon"></i>
                <h2 class="card-title">Clientes</h2>
                <div class="card-counter">1,234</div>
                <div class="card-subtitle">
                    <span class="new-clients">3</span> nuevos recientemente
                </div>
            </div>
        </p-card>
    
        <p-card [style]="{ width: '100%', overflow: 'hidden' }" class="dashboard-card">
            <div class="card-content">
                <i class="pi pi-calendar card-icon"></i>
                <h2 class="card-title">Citas</h2>
                <div class="card-counter">10</div>
                <div class="card-subtitle">
                    <span class="new-clients">3</span> nuevas
                </div>
            </div>
        </p-card>
    
        <p-card [style]="{ width: '100%', overflow: 'hidden' }" class="dashboard-card">
            <div class="card-content">
                <i class="pi pi-folder card-icon"></i>
                <h2 class="card-title">Proyectos</h2>
                <div class="card-counter">4</div>
                <div class="card-subtitle">
                    <span class="new-clients">1</span> nuevos recientemente
                </div>
            </div>
        </p-card>
    
        <p-card [style]="{ width: '100%', overflow: 'hidden' }" class="dashboard-card empty">
            <div class="card-content">
                Próximamente: Estadísticas
            </div>
        </p-card>
    
        <p-card [style]="{ width: '100%', overflow: 'hidden' }" class="dashboard-card empty">
            <div class="card-content">
                Próximamente: Estadísticas
            </div>
        </p-card>
    </div>
</main>
