* {
  font-family: 'Epilogue', sans-serif;
}

#titulo-producto {
  padding: 0;
  border: 0;
  margin-top: 10px;
  font-size: 100px;
  font-family: "Garamond", sans-serif;
  color: #EDDC94;
}

#frase-producto {
  font-size: 40px;
  font-family: "Garamond", sans-serif;
  margin-bottom: 120px;
}


.fondo {
  width: 100%;
  height: 120vh;
  margin-top: 120px;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 1;
  padding: 0;
}

.overlay {
  width: 100%;
  height: 120vh;
  background-color: #1b1710a2;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 1;
  text-align: center;
}


section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding-top: 70px;
}

div {
  background-color: #FEFDF9;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 40px;
  color: #1B1710;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p-galleria {
  display: flex !important;
  justify-content: center !important;
  height: auto;
  padding: 70px;
  background-color: #FEFDF9;
}

:host ::ng-deep .p-galleria {
  border-color: #84704E;
}

:host ::ng-deep .p-galleria-thumbnails-content {
  background-color: #84704E;
}

:host ::ng-deep .p-galleria-thumbnails-content .p-galleria-thumbnails-viewport {
  background-color: #84704E;
}

:host ::ng-deep #marcas .p-galleria {
  border: #FEFDF9;
}

:host ::ng-deep #marcas .p-galleria-thumbnails-content {
  background-color: #FEFDF9;
}

:host ::ng-deep #marcas .p-galleria-thumbnails-content .p-galleria-thumbnails-viewport {
  background-color: #FEFDF9;
}

::ng-deep app-galleria-marcas h2 {
  color: #1B1710;
  font-family: 'Epilogue', sans-serif;
  font-size: 50px;
}

#marcas {
  background-color: #FEFDF9;
}

#final {
  padding: 90px 0 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading, .error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 24px;
  color: #1B1710;
  font-family: "Garamond", sans-serif;
}

.error {
  color: #dc3545;
}

@media screen and (max-width: 1200px) {
  #titulo-producto {
    font-size: 76px;
    max-width: 50%;
  }

  #frase-logo {
    font-size: 36px;
    max-width: 50%;
  }

  p {
    font-size: 40px;
    max-width: 50%;
  }
}

@media screen and (max-width: 992px) {
  #titulo-producto {
    font-size: 72px;
    max-width: 60%;
  }

  #frase-producto {
    font-size: 32px;
    max-width: 60%;
  }

  p {
    font-size: 36px;
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  #titulo-producto {
    font-size: 68px;
    max-width: 70%;
  }

  #frase-producto {
    font-size: 28px;
    max-width: 70%;
  }

  p {
    font-size: 32px;
    max-width: 70%;
  }
}

@media screen and (max-width: 576px) {
  #titulo-producto {
    font-size: 64px;
    max-width: 80%;
  }

  #frase-producto {
    font-size: 24px;
    max-width: 80%;
  }

  p {
    font-size: 28px;
    max-width: 80%;
  }
}

@media screen and (max-width: 375px) {
  #titulo-producto {
    font-size: 60px;
    max-width: 90%;
  }

  #frase-producto {
    font-size: 20px;
    max-width: 90%;
  }

  p {
    font-size: 24px;
    max-width: 90%;
  }
}