.videos-editor {
  .field {
    margin-bottom: 2rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }

  .preview-video {
    max-width: 100%;
    max-height: 300px;
    margin-top: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  .mt-2 {
    margin-top: 1rem;
  }

  ::ng-deep {
    .p-fileupload-buttonbar {
      padding: 0;
    }
  }
} 